html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: whitesmoke;
}

a {
	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--text-light: #000000;
	--bg-light: #ffffff;
	--text-dark: #ffffff;
	--bg-dark: #000000;
}
