.container {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 40% auto;
	grid-template-rows: 10% auto;
}

.main {
	grid-column: 1;
	padding: 2.5rem 2.5rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
	grid-row: 2;
}

.main a {
	text-decoration: dotted;
}

.secondary {
	grid-column: 2;
	grid-row: 2;
	padding: 2.5rem 2.5rem;
}

.title {
	margin: 0;
	padding: 2.5rem 2.5rem;
	text-align: left;
	line-height: 1.15;
	font-size: 4rem;
	grid-column: 1 / span 2;
}

.slogan {
	text-align: left;
}

.description {
	line-height: 1.5;
	font-size: 1rem;
	text-align: left;
}

.sponsors {
	grid-column: 2;
	grid-row: 3;
	padding: 0 2.5rem 0 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
}

.links {
	align-self: flex-end;
	grid-row: 2;
}

.links a {
	font-size: 0.9em;
}

.list {
	list-style-type: none;
	padding-inline-start: 0px;
}

.list > li:not(:last-child) {
	margin-bottom: 8px;
}

.grid {
	display: flex;
	align-items: flex-start;
	justify-content: left;
	flex-wrap: wrap;
	max-width: 800px;
	margin-top: 0.5rem;
}

@media (max-width: 600px) {
	.container {
		padding: 0 0.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.title {
		font-size: 3rem;
	}

	.main {
		font-size: 12px;
	}

	.links {
		text-align: left;
		font-size: 1.5rem;
	}

	.description {
		font-size: 1.5rem;
	}

	.sponsors {
		padding: 0 2.5rem 0 2.5rem;
	}

	.grid {
		margin-top: 1rem;
	}
}
