.container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	color: var(--text-light);
	background-color: var(--bg-light);
	justify-content: center;
}

.langMenu {
	padding-top: 1.0rem;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
}

.langMenu > span {
	padding: 0 10px;
}

.header {
	margin: 0 auto;
}

.main {
	display: flex;
	flex: 0;
	padding: 0 2.5rem 2.5rem 2.5rem;
	margin: 0 auto;
}

.main a {
	text-decoration: dotted;
}

.main > article {
	flex: 1 0 auto;
	max-width: 40vw;
}

.main > aside {
	flex: 0 1 auto;
}

.extra {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	justify-content: center;
}

.extra > div {
	flex-direction: column;
	display: flex;
	margin: 0 50px;
	flex: 1 0;
	height: 100%;
	align-self: auto;
}

.title {
	margin: 0;
	padding: 1.5rem 2.5rem 0 2.5rem;
	text-align: left;
	line-height: 1.15;
	font-size: 4rem;
}

.slogan {
	text-align: left;
	padding: 0 2.5rem;
}

.description {
	line-height: 1.5;
	font-size: 1rem;
	text-align: left;
}

.links a {
	font-size: 0.9em;
}

.list {
	list-style-type: none;
	padding-inline-start: 0px;
}

.list > li:not(:last-child) {
	margin-bottom: 8px;
}

.sponsors {
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	justify-content: center;
	padding-top: 2.5rem;
}

.sponsors > ul {
	column-count: 3;
	column-gap: 0px;
}

.sponsors > ul > li {
	width: max-content;
}

@media (prefers-color-scheme: dark) {
	.container {
		color: var(--text-dark);
		background-color: var(--bg-dark);
	}
}

@media (max-width: 907px) {
	.sponsors > ul {
		column-count: 2;
	}
}

@media (max-width: 600px) {
	.container {
		padding: 0 0.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		overflow-x: hidden;
	}

	.langMenu {
		padding-left: 2.5rem;
	}

	.title {
		font-size: 2.5rem;
	}

	.main {
		font-size: 12px;
		display: block;
		margin: 0;
	}

	.main > article {
		max-width: 100%;
	}

	.extra {
		flex-direction: column;
		margin: 0;
		padding: 0 2.5rem 2.5rem 2.5rem;
	}

	.extra > div {
		margin: 0;
		padding: 0 2.5rem 0 0;
	}

	.links {
		text-align: left;
		font-size: 1rem;
	}

	.sponsors {
		text-align: left;
		margin: 0;
		padding: 0 2.5rem 2.5rem 2.5rem;
	}

	.sponsors > ul {
		column-count: 1;
	}

	.description {
		font-size: 1rem;
	}
}
