.container {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 50% auto;
	grid-template-rows: 50% auto;
}

.main {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 2;
	padding: 2.5rem 2.5rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
}

.main a {
	text-decoration: dotted;
}

.title {
	margin: 0;
	text-align: left;
	line-height: 1.15;
	font-size: 4rem;
}

.description {
	line-height: 1.5;
	font-size: 1rem;
	text-align: left;
}

.sponsors {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
	padding: 0 2.5rem 0 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
}

.links a {
	font-size: 0.9em;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
	margin-top: 3rem;
}

@media (max-width: 600px) {
	.container {
		min-height: 100vh;
		padding: 0 0.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.main {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 12px;
	}

	.links {
		text-align: left;
		font-size: 1.5rem;
	}

	.title {
		margin: 0;
		line-height: 1.15;
		font-size: 4rem;
		text-align: left;
	}

	.description {
		text-align: left;
		line-height: 1.5;
		font-size: 1.5rem;
	}

	.grid {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 800px;
		margin-top: 3rem;
	}
}
